<!DOCTYPE html>
<html>
<head>
    <title>Speech Emotion Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🎙 Speech Emotion Recognition</h1>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="audio" accept=".wav" required>
        <button type="submit">Predict Emotion</button>
    </form>

    {% if prediction_text %}
        <h2>{{ prediction_text }}</h2>
    {% endif %}
</div>

</body>
</html>